
    details > summary {
        list-style-image: url(readme_img/arrow.png);
    }
    details[open] > summary {
        list-style-image: url(readme_img/arrow2.png);
    }
    * {
        background-color: #000000;
    }
    * {
	    color: #cccccc;
	    font-size: 1.3rem;
	    font-family: arial;
    }
    a {
	    color: #fae588;
    }
    a:visited {
	    color: #f9dc5c;
    }
    a:hover {
	    color: #fdf8e1;
    }
    pre {
	    font-family: "menlo";
	    font-size: 1rem;
	    color: #cccccc;
	    font-weight: bold; 
	    border: 0.2rem solid #cccccc;
	    border-radius: 15px;
	    padding: 1rem;
    }
    code {
	display: block;
	overflow-x: scroll;
    }    